<%= form_with model: @user, url: user_password_path, class: "registration-main", local: true do |f| %>
  <%#= render "public/shared/error_messages", resource: resource %>

  <div class = "public_new_password_form px-4">

    <h5 class = "mb-4">パスワードの再設定</h5>

    <div class = "field mb-4">
      <%= f.label :email, "ご登録のメールアドレス：", class: "public_new_password_label" %>
      <div class = "public_new_password_email_field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレスを入力してください", class: "form-control" %>
      </div>
    </div>

    <div class = "actions mb-4">
      <%= f.submit "パスワード再設定用リンクを送信", class: "btn btn-secondary public_new_password_button" %>
    </div>

  </div>

<% end %>
